In [62]:
import pandas as pd
import numpy as np
import datetime as dt
import pickle

In [63]:
data = pd.read_csv('training/trajectories(table 5)_training.csv')

In [64]:
data = data.drop('intersection_id',axis=1).drop('tollgate_id',axis=1).drop('vehicle_id',axis=1).drop('travel_time',axis=1)

# time quantization by 20 min
data['starting_time'] =  pd.to_datetime(data['starting_time'], format = "%Y-%m-%d %H:%M:%S")

st = []
for c in data['starting_time']:
    st.append(c - dt.timedelta(seconds = c.second, minutes = c.minute % 20))
data['starting_time'] = st

In [65]:
section = {'110':'0', '123':'0', '107':'0', '108':'0', '120':'1', '117':'1', '119':'2', '114':'2', '118':'2', '122':'2', '105':'3', '100':'3', '111':'4', '103':'4', '116':'5', '101':'5', '121':'5', '106':'5', '113':'5', '122':'6', '115':'7', '102':'7', '109':'7', '104':'7', '112':'7'}
section

{'100': '3',
 '101': '5',
 '102': '7',
 '103': '4',
 '104': '7',
 '105': '3',
 '106': '5',
 '107': '0',
 '108': '0',
 '109': '7',
 '110': '0',
 '111': '4',
 '112': '7',
 '113': '5',
 '114': '2',
 '115': '7',
 '116': '5',
 '117': '1',
 '118': '2',
 '119': '2',
 '120': '1',
 '121': '5',
 '122': '6',
 '123': '0'}

In [66]:
test = pd.DataFrame()

temp = []

for row in data.iloc[:2].itertuples():
    link_list = row.travel_seq.split(';')
    section_dict = {}
    for link in link_list:
        link_attributes = link.split('#')
        del link_attributes[1]
        link_attributes[0] = section.get(link_attributes[0])
        if link_attributes[0] in section_dict:
            section_dict[link_attributes[0]] = "%.2f" % (float(section_dict[link_attributes[0]]) + float(link_attributes[1]))
        else:
            section_dict[link_attributes[0]] = link_attributes[1]
    print(section_dict)
    for section_key in section_dict:
        temp.append([row.starting_time, section_key, section_dict[section_key]])
test = pd.DataFrame(temp)
test.columns = ['starting_time', 'road_section', 'travel_time']
test

{'3': '16.31', '4': '20.47', '6': '32.85'}
{'3': '19.02', '4': '22.18', '6': '104.79'}

        starting_time road_section travel_time
0 2016-07-19 00:00:00            3       16.31
1 2016-07-19 00:00:00            4       20.47
2 2016-07-19 00:00:00            6       32.85
3 2016-07-19 00:20:00            3       19.02
4 2016-07-19 00:20:00            4       22.18
5 2016-07-19 00:20:00            6      104.79